/**
 * Main menu icons.
 */
.navbar-icon-conference-settings:before {
  background-image: url("icons/787878/podium.svg");
}
.no-svg .navbar-icon-conference-settings:before {
  background-image: url("icons/787878/podium.png");
}
.navbar-icon-conference-settings:active:before,
.navbar-icon-conference-settings.navbar-active:before {
  background-image: url("icons/000000/podium.svg");
}
.no-svg .navbar-icon-conference-settings:active:before,
.no-svg .navbar-icon-conference-settings.navbar-active:before {
  background-image: url("icons/000000/podium.png");
}
.navbar-icon-homepage-settings:before {
  background-image: url("icons/787878/equalizer.svg");
}
.no-svg .navbar-icon-homepage-settings:before {
  background-image: url("icons/787878/equalizer.png");
}
.navbar-icon-homepage-settings:active:before,
.navbar-icon-homepage-settings.navbar-active:before {
  background-image: url("icons/000000/equalizer.svg");
}
.no-svg .navbar-icon-homepage-settings:active:before,
.no-svg .navbar-icon-homepage-settings.navbar-active:before {
  background-image: url("icons/000000/equalizer.png");
}
